<div class="row">
	<div class="col-sm-9">
		<div *ngIf="!hideNewVideo">
			<h2>New Video</h2>
			<form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">


				<div class="form-group">
					<input type="input" class="form-control" name="title" placeholder="title" required ngModel>
				</div>
				<div class="form-group">
					<input type="input" class="form-control" name="url" placeholder="url" ngModel required>
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="5" name="dec" placeholder="description" ngModel required ></textarea>
				</div>

				<button type="submit" class="btn btn-success">Save</button>
			</form>
		</div>
		<video-details (updateVideoEvent)="onUpdateVideoEvent($event)"
						(deleteVideoEvent)="onDeleteVideoEvent($event)"
		*ngIf="selectedVideo && hideNewVideo" [video]="selectedVideo"></video-details>
	</div>
	<div class="col-sm-3">
		<button (click)="newVideo()" style="margin-bottom: 2px;" class="btn btn-success btn-block">+ New Video</button>
		<video-list (SelectVideo)= "onSelectVideo($event)" [videos]="videos"></video-list>
	</div>
</div>